{%- set fstype = mount.mounttype %}
{%- set credsPrefix = '/root/.' ~ fstype ~ 'credentials-' %}
{%- set creds = credsPrefix ~ mount.mntentref %}
{%- set rmount = salt['omv_conf.get']('conf.system.filesystem.mountpoint', mount.mntentref) %}
{%- set mntDir = rmount.dir %}
{%- set options = [] %}
{%- set options = mount.options.split(',') %}
{%- if mount.mounttype == 'cifs' %}
{%- if mount.username | length > 0 %}
{%- set _ = options.append('credentials=' ~ creds) %}
{%- else %}
{%- set _ = options.append('guest') %}
{%- endif %}
{%- set share = '//' ~ mount.server ~ '/' ~ mount.sharename | replace(' ', '\\\\040') | replace('\'', '') %}
{%- elif mount.mounttype == 'nfs' %}
{%- set share = mount.server ~ ':' ~ mount.sharename %}
{%- elif mount.mounttype == 'davfs' %}
{%- if mount.username | length <= 0 %}
{%- set _ = options.append('guest') %}
{%- endif %}
{%- set share = mount.server | replace(' ', '\\\\040') | replace('\'', '') %}
{%- elif mount.mounttype == 's3fs' %}
{%- set share = mount.sharename | replace(' ', '\\\\040') | replace('\'', '') %}
{%- set _ = options.append('url=' ~ mount.server) %}
{%- set _ = options.append('passwd_file=' ~ creds) %}
{%- set fstype = 'fuse.' ~ mount.mounttype %}
{%- endif %}
[Unit]
Description=RemoteMount mount for {{ mount.name }}:{{ mount.uuid }}
Requires=network-online.target
After=network-online.target

[Mount]
What={{ share }}
Where={{ mntDir }}
Type={{ fstype }}
Options={{ options | join(',') }}

[Install]
WantedBy=multi-user.target
