Source: openmediavault-remotemount
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
XB-Plugin-Section: filesystems

Package: openmediavault-remotemount
Architecture: all
Depends: cifs-utils,
         davfs2,
         openmediavault (>= 6),
         ${misc:Depends}
Description: Remote mount plugin for OpenMediaVault.
 Makes it possible to mount remote shares.
