Source: openmediavault-remotemount
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
XB-Plugin-Section: filesystems

Package: openmediavault-remotemount
Architecture: all
Depends: cifs-utils,
         davfs2,
         nfs-common,
         openmediavault (>= 8),
         ${misc:Depends}
Description: Remote mount plugin for OpenMediaVault.
 Makes it possible to mount remote shares.
